  <h1>Personne</h1>
  <div class="mb-3">
    <label for="user-last-name" class="form-label">Nom</label>
    <input id="user-last-name" class="form-control" type="text" placeholder="last name" [(ngModel)]="user.lastName" required/>
  </div>
  <div class="mb-3">
    <label for="user-first-name" class="form-label">Prenom</label>
    <input id="user-first-name" class="form-control" type="text" placeholder="first name" [(ngModel)]="user.firstName" required/>
  </div>
  <div class="mb-3">
    <label for="user-birth-date" class="form-label">Date de naissance</label>
    <input id="user-birth-date" class="form-control" type="date" [(ngModel)]="user.birthDate"
           [ngClass]="{'is-invalid' : hasDateError}" required/>
    <div class="invalid-feedback" *ngIf="hasDateError">
      Vous devez enter une date de naissance inférieure a 150 ans
    </div>
  </div>
  <div>Expériences</div>
  <div *ngFor="let job of user.jobs">
    <div class="form-check mb-3">
      <label for="job-company" class="form-label">Nom de l'entreprise</label>
      <input id="job-company" class="form-control" type="text" placeholder="first name" [(ngModel)]="job.company"/>
    </div>
    <div class="mb-3 form-check">
      <label for="job-job" class="form-label">Intitulé du poste</label>
      <input id="job-job" class="form-control" type="text" placeholder="last name" [(ngModel)]="job.job"/>
    </div>
    <div class="mb-3 form-check">
      <label for="job-current" class="form-check-label">En poste ?</label>
      <input id="job-current" class="form-check-input" type="checkbox" [(ngModel)]="job.isCurrentJob"/>
    </div>
    <div class="mb-3 form-check">
      <label for="job-start" class="form-label">Begening</label>
      <input id="job-start" class="form-control" type="date" [(ngModel)]="job.start" required/>
    </div>
    <div class="mb-3 form-check">
      <label for="job-end" class="form-label">End</label>
      <input id="job-end" class="form-control" type="date" [(ngModel)]="job.end"/>
    </div>
  </div>
  <div class="mb-3 form-check">
    <button class="btn btn-primary" type="button" (click)="addJob()">Ajouter une expériences</button>
  </div>
  <button class="btn btn-primary" type="submit" (click)="onCreateUser()">Créer Personne</button>
